<!-- <h1>Comment#new_comment</h1>

<p>
  <%= @greeting %>, find me in app/views/comment_mailer/new_comment.html.erb
</p>
 -->
<p>  A new comment was posted for you art from <%= @name %> at <%= @email %></p>

 <p> <%= @comment.body %></p>