<h1 class="about-name">Katherine Stack</h1>

<div class="about">

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse molestias, error delectus eum, excepturi modi deleniti aperiam, veritatis reprehenderit minus ullam amet beatae et veniam accusamus a repellat voluptatibus quia. Iure modi, quas velit maxime dolorum <br><br>voluptatibus tempore minus minima?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione assumenda deleniti repudiandae, quas rerum harum repellendus. Accusantium unde hic nam laborum molestiae, dolores quidem, ea in. Voluptas, rem neque ipsam, sapiente voluptatibus incidunt. Maiores quis nis velit illum vero <br><br>neque modi dolore ipsum eius excepturi nihil cupiditate perspiciatis molestias, esse fuga sit ipsam id perferendis aliquam quia numquam. Distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sed dolore iste accusamus veniam debitis in eos, totam molestiae consequuntur aperiambr</p>

<!-- 
	<img src="/assets/katiestack.jpg" alt="Katie Stack"><caption>Katherine Stack is seen here searching for artistic inspiration through spritial fart channels only she can summon. </caption>
</div> -->



<!-- <figure>
    <img src="/assets/katiestack.jpg" alt='Katie Stack' />
    <figcaption>Katherine Stack seen here channeling farts.</figcaption>
</figure> -->



<div class="about-image">
	<img src="/assets/katiestack.jpg" alt='Katie Stack' />
</div>

