		<div class="contact-form">
			<form id="contact-form" method="post" action="">
				<input name="name"	type="text" class="form-control" placeholder="Your Name" required><br>

				<input name="email"	type="email" class="form-control" placeholder="Your Email" required><br>

				<textarea name="message"  class="form-control" placeholder="Message" rows="4" required></textarea><br>

				<input type="submit" class="form-control submit" value="SEND MESSAGE">
			</form><br>
		</div>