<html>
<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Skart Gallery</title>

	<h1>This is Skart</h1>

	<link rel="stylesheet" href="/assets/lightbox.min.css">

	<script type="text/javascript" href="/assets/lightbox-plus-jquery.min"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="thumbnails group">
				<a href="/assets/baby.jpg" data-lightbox="gallery" data-title="Psychadelic Baby">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/truefart.jpg" data-lightbox="gallery">
					<img src="/assets/truefart-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
			</div>
		</div>
	</div>
</body>

<footer class="footer">
	Katherine Stack (c) 2018. All Rights Reserved.
</footer>

</html>