<html>
<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Skart Gallery</title>

	<h1>This is Skart</h1>

	<link rel="stylesheet" href="/assets/lightbox.min.css">

	<script type="text/javascript" href="/assets/lightbox-plus-jquery.min"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="images">
				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
				<a href="/assets/baby.jpg" data-lightbox="gallery">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
			</div>
		</div>
	</div>
</body>

</html>