<html>
<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Skart Gallery</title>

	<link rel="stylesheet" href="/assets/lightbox.min.css">

	<script type="text/javascript" href="/assets/lightbox-plus-jquery.min"></script>

</head>


<body>
	<div class="container">
			<div class="thumbnails group">
				<a href="/assets/baby.jpg" data-lightbox="gallery" data-title="Psychadelic Baby">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/truefart.jpg" data-lightbox="gallery" data-title="True Love">
					<img src="/assets/truefart-thumb.jpg" alt="true-fart">
				</a>

				<a href="/assets/tentacle.jpg" data-lightbox="gallery" data-title="Tentacle Porn">
					<img src="/assets/tentacle-thumb.jpg" alt="tentacle">
				</a>

				<a href="/assets/seahorse.jpg" data-lightbox="gallery" data-title="Mystical Seahorse">
					<img src="/assets/seahorse-thumb.jpg" alt="seahorse-thumb">
				</a>

				<a href="/assets/devilwoman.jpg" data-lightbox="gallery" data-title="Sweet Devil Woman">
					<img src="/assets/devilwoman-thumb.jpg" alt="devilwoman-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery" data-title="Psychadelic Baby">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>

				<a href="/assets/baby.jpg" data-lightbox="gallery" data-title="Psychadelic Baby">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
				<a href="/assets/baby.jpg" data-lightbox="gallery" data-title="Psychadelic Baby">
					<img src="/assets/baby-thumb.jpg" alt="baby-thumb">
				</a>
			</div>
	</div>


			<!-- Horizontal Images -->

			<div class="horizontal-thumbnails">
				<a href="/assets/gryphon.jpg" data-lightbox="gallery" data-title="Baby Gryphon">
					<img src="/assets/gryphon-thumbnail.jpg" alt="gryphon-thumb">
				</a>

				<a href="/assets/gryphon.jpg" data-lightbox="gallery" data-title="Baby Gryphon">
					<img src="/assets/gryphon-thumbnail.jpg" alt="gryphon-thumb">
				</a>
			</div>





</body>


</html>