/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'normalize';

html {
	background-color:gray;


}

body {
	margin:0;
	padding:0;
}



.nav {

	a {
		list-style-type: none;
		text-decoration:none;
		letter-spacing: 10px;
		font-size:14px;
	}


	ul {
		display:flex;
		flex-direction:row;
		justify-content:center;
	}

}

.bgquarry {
	

	img {
		position:absolute;
		top:30%;
		width:100%;
		height:auto;
	}
}




figure {
  // float: left;
  // width: 30%;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}


.about-name {
	text-align: center;;
}


.about {
	display:grid;
	grid-template-column:1fr 1fr;
	grid-gap:30px;

	img {
		grid-column:2/3;
		grid-row:1/2;
		width:250px;
		height:auto;
		padding:10px;


	}

	p {
		grid-column:1/2;
		padding:10px;
		line-height:30px;
		
	}

}





footer {
	// position:absolute;
	
	// bottom:1%;
	// left:1%;
}