<!DOCTYPE html>
<html>
  <head>
    <title>Skart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<hr class="nav-outside-strikethrough-one">
<hr class="nav-strikethrough">
<div class="nav">
	<ul>
    <p>|</p>
		<a href="/pieces/index"><li>Home</li></a>
    <p>|</p>
		<a href="/pieces/portfolio"><li>Portfolio</li></a>
    <p>|</p>
		<a href="/comments/new"><li>Info</li></a>
    <p>|</p>
	</ul>
</div>
<hr class="nav-outside-strikethrough-two">



    <%= yield %>

       <p class="footer">
         Katherine Stack (c) 2018. All Rights Reserved.
       </p>


  </body>
</html>
