<!DOCTYPE html>
<html>
  <head>
    <title>Skart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



<div class="nav">
	
	<ul>
		<a href="/pieces/index"><li> | Home |</li></a>
		<a href="/pieces/portfolio"><li> Portfolio |</li></a>
		<a href="/pieces/about"><li> About |</li></a>
		<a href="/pieces/contact"><li> Contact |</li></a>
	</ul>
</div>


    <%= yield %>

       <p class="footer">
         Katherine Stack (c) 2018. All Rights Reserved.
       </p>


  </body>
</html>
